// Fontes
$fonte: 'Roboto', sans-serif;

// Variavés de Cores
$cor-primaria: #0C356A;
$cor-secundaria:#279EFF;
$cor-terciaria: #40F8FF;
$cor-quartearia: #D5FFD0;

// Tamanho de fontes
$tamanho-do-texto: 3.5rem;
